@tailwind base;
@tailwind components;
@tailwind utilities;


.course-card {

  width: 200px;
  height: 350px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  font-family: 'Segoe UI', sans-serif;
  background-color: #ffffff;
  text-align: center;
}

/* Make the selected date tile rounded */
.react-calendar__tile--active {
  background-color: blue !important;
  color: white !important;
  border-radius: 30% !important;
}

.react-calendar__navigation__label{
  border-bottom: 2px solid blue !important;
  padding-bottom: 4px !important;
  font-weight: bold !important;
  font-size: 16px !important;
  color: #333 !important;
}
